<main>
  <section class="portfolio-project" *ngFor="let project of projects">
    <div class="container-fluid">
      <div class="img-container">
          <img src="{{ project.image }}" aria-hidden="true">
      </div>

      <div class="project-details">
          <h1>{{ project.title }}</h1>
    
          <ul class="list-unstyled">
            <li>
              <strong>Technology Used: </strong><span *ngFor="let tech of project.tech; last as isLast">{{ tech }}<span *ngIf="!isLast">, </span></span>
            </li>
            <li>
              <strong>Features: </strong><span *ngFor="let feature of project.features; last as isLast">{{ feature }}<span *ngIf="!isLast">, </span></span>
            </li>
          </ul>
      </div>
    </div>
  </section>
</main>