.awards {
    text-align: center;

    .award {
        margin-top: 15px;

        .award-img {
            height: 83px;
            margin-bottom: 10px;
            display: table-cell;
            vertical-align: middle;
            padding-bottom: 10px;

            img {
                max-width: 100%;
            }
        }

        .projects {
            li {
                &:not(:last-child) {
                    padding-bottom: 10px;
                }
            }
        }
    }
}