
<nav class="main-nav">
    <a routerLink="/" class="logo">
        <img src="../../assets/img/logo.png" alt="Stephanie Rentfrow">
    </a>

    <div class="nav">
        <button mat-button (click)="toggleMenu()" class="menu-toggle">
            <i class="material-icons">
                menu
            </i>
        </button>

        <ul class="nav-menu list-unstyled list-horiz" [ngClass]="{'open': menuOpen}"> 
            <li>
                <a routerLink="/" [routerLinkActive]="'active'">Resume</a>
            </li>
            <li>
                <a routerLink="/design-portfolio" [routerLinkActive]="'active'">Designs</a>
            </li>
            <li>
                <a routerLink="/dev-portfolio" [routerLinkActive]="'active'">Development</a>
            </li>
        </ul>
    </div>
</nav>

