<button mat-fab color="primary" class="btn-pdf">PDF</button>

<main>
    <section class="hero">
        <img src="../../assets/img/color-block-code.svg" alt="">

        <span>
            &lt;Web-Designer-Developer \&gt;
        </span>

        <button mat-fab class="btn-scroll">
            <i class="material-icons md-36">expand_more</i>
        </button>
    </section>

    <section>
        <div class="container">
            <div class="row summary">
                <div class="col-12">
                    <h1 class="text-center">About Me</h1>
                </div>
        
                <div class="col-sm-4">
                    <blockquote>
                        "Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it's really how it works." - Steve Jobs
                    </blockquote>
                </div>
        
                <div class="col-sm-8">
                    <p>My name is Stephanie Rentfrow. While I enjoy solving problems and finding ways to organize information to make it more digestible, I also enjoy front-end development.</p>
                    <p>My background is in Graphic Design. The company I interned with in college hired me for magazine layouts and ended up teaching me the very basics of front-end development (a small amount of HTML and CSS). From that point I always enjoyed development as well as design and try to use both skills as much as possible.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <app-skills></app-skills>
    </section>

    <section>
        <app-experience></app-experience>
    </section>

    <section>
        <app-education></app-education>
    </section>

    <section>
        <app-awards></app-awards>
    </section>

    <section>
        <div class="container more-info">
            <div class="row summary">
                <div class="col-12">
                    <h1 class="text-center">More Information</h1>
                </div>
        
                <div class="col-12 text-center">
                    <button href="mailto:stephanie.rentfrow@gmail.com" mat-flat-button color="primary">Email Me</button>
                    <button href="https://www.linkedin.com/in/stephanie-rentfrow-a54940b7/" target="_blank" rel="noopener noreferrer" mat-flat-button color="primary">LinkedIn</button>
                    <button href="https://github.com/srlindsey07" target="_blank" rel="noopener noreferrer" mat-flat-button color="primary">GitHub</button>
                </div>
            </div>
        </div>
    </section>
</main>
