@import '../../variables.scss';

.btn-pdf {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.hero {
    background-color: $gray-70;
    padding: 30px 15px;
    position: relative;

    img {
        width: 100%;
        max-height: 100%;
    }

    span {
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: 50px;
        line-height: 55px;
        color: $gray-50;
        font-family: 'Inconsolata', monospace;
        font-weight: bold;
        text-shadow: 0px 0px 10px $gray-70, 0px 0px 5px $gray-70;
    }

    .btn-scroll {
        position: absolute;
        bottom: 20px;
        right: calc(50% - 15px);
        background-color: $color-accent;

        .mat-button-wrapper {
            padding: 0 !important;
            line-height: 40px !important;

            .material-icons {
                line-height: 40px !important;
            }
        }
    }
}

.more-info {    
    button {
        width: 100px;
        margin: 15px 15px 0 15px;
    }
}